body {
  margin: 0;
  display: flex;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  background-color: #085567;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator {
  margin-top: 6rem;
  margin-left: 30%;
  width: 35vw;
  height: 24rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 1fr);
  border-radius: 60px;
  background: #085567;
  box-shadow: 31px 31px 62px #07596c, -31px -31px 62px #20798b;
}

.div {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #484848;
}

.Display {
  background-color: #7f7fa5;
  display: flex;
  justify-content: end;
  color: #fff;
  border-bottom: 1px solid #000;
  border-top-left-radius: 30px;
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  background-color: #9090c5;
  border-bottom-right-radius: 30px;
}

.number {
  height: 100%;
}

.number:hover {
  background-color: #6c6c9e;
}

.color {
  background-color: #20798b;
  width: 94%;
}

.number-0 {
  grid-column: span 2;
}

.number-num {
  border-bottom-right-radius: 30px;
}

.number--- {
  border-left: 1px solid #484848;
}
