body {
  background-color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
  background-color: #085567;
  width: 100%;
  height: 95vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style {
  width: 55vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 112px;
  color: #fff;
  box-shadow: 0 -5px 3px -3px #000, 0 5px 3px -3px #000;
}

h1 {
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 18px;
}
