.header {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -8rem;
  border-bottom: 2px solid #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #001e2c;
}

.h1 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  margin-left: -2rem;
  color: #fff;
}

.button {
  margin: 0 0.5rem 0 0.5rem;
  padding: 7px;
  height: 2rem;
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 1.5s;
  font-style: italic;
}

.button:hover {
  text-decoration: underline;
  color: #fff;
  font-size: 1.8rem;
  font-style: oblique;
  transition: all 1.5s;
}

button {
  margin: 0 0.3rem 0 0.5rem;
  height: 2rem;
  border: none;
  background-color: transparent;
}

nav {
  margin-left: 3rem;
}
